.btn {
  margin: 2px;
  padding: 0 18px 1px;
  border-bottom: 1px solid #37bca2;
  background: #3AC6AA;
  color: #FFF;
  font-weight: 600;
  font-size: 13px;
  line-height: 31px;
  border-radius: 3px;
  text-shadow: 0 1px #34b299;
  box-shadow: 0 1px 1px #dddee1;
  outline: none; }
.btn:enabled:hover {
  z-index: 1;
  background: #52cdb4; }
.btn:enabled:active {
  border-bottom: 1px solid #288b77;
  background: #2e9f88;
  text-shadow: 0 -1px #31a891; }
.btn .fa {
  margin-right: 8px; }
.btn.block {
  position: relative;
  display: block;
  margin: 8px auto;
  width: 100%;
  font-size: 16px;
  line-height: 46px;
  border-radius: 4px; }
.btn.block .fa {
  position: absolute;
  left: 16px;
  top: 50%;
  margin-top: -10px;
  font-size: 20px; }
.btn.block .fa-caret-right {
  left: inherit;
  right: 12px;
  margin-top: -6px;
  font-size: 12px; }
.btn:disabled {
  border-bottom: 1px solid #889dbd;
  background: #8fa5c7;
  text-shadow: 0 -1px #8195b3;
  opacity: 0.5;
  cursor: not-allowed; }
.btn-clear {
  padding: 0 12px;
  height: 32px;
  border: 2px solid #3AC6AA;
  background: #FFF;
  line-height: 30px;
  border-radius: 3px; }
.btn-text {
  background: transparent;
  color: #4f5362;
  font-size: 13px; }
.btn-text:hover, .btn-text:active {
  color: #3B4051;
  text-decoration: underline; }
.btn-text .fa {
  margin: 0 6px; }
.btn.btn-red {
  border-bottom: 1px solid #dc3c31;
  background: #F44336;
  text-shadow: 0 1px #dc3c31; }
.btn.btn-red:enabled:hover {
  z-index: 1;
  background: #f65e53; }
.btn.btn-red:enabled:active {
  border-bottom: 1px solid #d2190b;
  background: #ea1c0d;
  text-shadow: 0 -1px #cf392e; }
